1
1
davinci.aac
davinci.pcm

######################################################################
# Input Parameter Configuration
######################################################################
Playback mode             # 0 -> write to file, 1 -> ALSA playback
Desired channel mode      # 0 -> mono, 1 -> stereo          
Input file name
Output file name
